/* Write your CSS here */
.avatar-img {
  height: 70px;
  width: 80px;
}
.repository-item-card {
  width: 250px;
  background-color: #f8f8ff;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.count-container {
  display: flex;
  align-items: center;
}
.icon {
  height: 15px;
  margin-right: 5px;
}
.name {
  color: #e73959;
  font-size: 20px;
  font-weight: bold;
}
.count{
  color: #1e293b;
  font-size: 15px;
}